<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Котик</title>
    <style>
        img {
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>
<img th:src="@{/cats/{id}/picture(id=${cat.getId()})}"/>
<p th:text="${cat.getName() + ', ' + cat.getDateOfBirth()}">VALUE</p>
<p th:text="${'Описание: ' + cat.getDescription()}">VALUE</p>
<p th:if="${cat.getSex() == 'М'}">Кот</p>
<p th:if="${cat.getSex() == 'Ж'}">Кошка</p>
<form th:method="POST" th:action="@{/cats/{id}(id=${cat.getId()})}" th:object="${application}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="phone">Укажите номер телефона в формате +79876543210 </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
    <br/>
    <input type="submit" value="Отправить заявку"/>
</form>
</body>
</html>